.App {
  background-color: #282c34;
}
.input-hi {
  width: 100%;
}

.search {
  display: flex;
  justify-content: flex-start;
  padding-left: 45px;
  max-width: 100%;
  flex: 2;
}
.logo-git {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-block-end: 1em;
  margin-inline-start: 40px;

}

figure {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
body {
  background-color: #282c34;
}

.app-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

